<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="/quantum"><button>Quantum</button></a>
    <a href="/normal"><button>Normal</button></a>

</body>
</html>