<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Normal time</h1>
    <span>In real life you were absent for <%= yearn %> years, <%= monthn %> months, <%= dayn %> days.</span>
</body>
</html>