div {
   border: 1px solid black;
   margin: 10px 10px;
   padding: 5px 5px;
}
form{
    margin: 10px;
}
fieldset{
    margin: 10px;
}
.button{
    margin-left: 10px;
}
.message{
    background-color: rgb(158, 158, 158);
}